body{
    margin: 0;
    padding: 0;
    background: url("../img/bg.gif") no-repeat;
    background-size: 100vw 100vh;
}
.signin-body{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.form-box{
    width: 50vw;
    margin-top: 15vh;
    height: fit-content;
    border-radius: 10px;
    background: rgba(255,255,255,0.5);
    box-shadow: 1px 1px 10px black;
}
.form-box .col-6{
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.form-box .col-6 a{
    color: black !important;
}
.bb{
    border-bottom: 1vh solid green;
}
.form-box h4{
    padding: 2vh 0;
    margin: 0;
    width: 20vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
}
.form-box h4:hover{
    text-shadow: 1px 1px 10px white;
}
.email-in, .password-in,.dropdown{
    width: 90%;
    border-bottom: 2px solid black;
}
.dropdown,.dropdown label{
    cursor: pointer;
}
.dropdownlist{
    width: 90%;
    border: 2px solid black;
    padding: 2vh 2vh;
    padding-left: 10vh;
    display: none;
}
.dropdown label{
    color: black;
    font-weight: 500;
}
form input{
    padding-left: 1vw;
    border: none;
    outline: none;
    font-weight: 500;
    background: transparent;
}
select{
    width: 95%;
    background: transparent !important;
    padding: 0;
    border: none;
    outline: none;
    height: 5vh;
    font-weight: 500;
}
form input::placeholder {
    color: black;
}
form input[type=email] {
    width: 93%;
    height: 7vh;   
}
form input[type=password],input[type=text] {
    width: 83%;
    height: 7vh;   
}
.dropdownlist p{
    color: black;
    font-weight: 500;
    border-bottom: 1px solid black;
    cursor: pointer;
    
}
form button {
    width: 40vw;
    height: 7vh;
    font-weight: bold;
    background: black;
    color: white;
    border: none;
}
form button:hover{
    transform: scale(1.01,1.01);
    background: rgba(0,0,0,0.9);

}
form p a{
    color: blue !important;
}
form p a:hover{
    color: skyblue !important;
    text-decoration: underline blue;
}
#eye-slash,#cpeye-slash{
    display: none;
}

#eye-slash,#eye,#cpeye-slash,#cpeye{
    cursor: pointer;
}
.row {
    --bs-gutter-x: 0rem;
}
@media (min-width:992px){
    body{
        background-size: cover;
    }
}
@media (min-width:768px) and (max-width:992px){
    body{
        background-size: cover;
    }
    .form-box{
        width: 60vw;
    }
    .email-in, .password-in,.dropdown{
        font-size: 2vw;
        width: 50vw;
        border-bottom: 2px solid black;
    }s
    form input[type=email] {
        width: 90%;
        height: 7vh;   
    }
    .form-box h4{
        font-size: 2vw;
    }
}
@media (max-width:768px) and (min-width:576px){
    .form-box{
        width: 60vw;
    }
    .email-in, .password-in,.dropdown{
        width: 50vw;
        border-bottom: 2px solid black;
    }
    form input[type=email] {
        width: 90%;
        height: 7vh;   
    }
    form input[type=password],input[type=text] {
        width: 78%;
        height: 7vh;   
    }
    .form-box h4{
        font-size: 2vw;
    }
   
}
@media (max-width:576px) and (min-width:450px){
    .form-box{
        width: 80vw;
    }
    .email-in, .password-in,.dropdown{
        width: 65vw;
        border-bottom: 2px solid black;
    }
    form input[type=email] {
        width: 90%;
        height: 7vh;   
    }
    form input[type=password],input[type=text] {
        width: 78%;
        height: 7vh;   
    }
    .form-box h4{
        font-size: 2vw;
    }
   
}
@media (max-width:450px) {
    .form-box{
        width: 80vw;
    }
    .bb{
        border-bottom: 0.5vh solid green;
    }
    .email-in, .password-in,.dropdown{
        width: 60vw;
        font-size: 3vw;
        border-bottom: 2px solid black;
    }
    form input[type=email] {
        width: 90%;
        height: 7vh;   
    }
    form input[type=password],input[type=text] {
        width: 78%;
        height: 7vh;   
    }
    .form-box h4{
      
        font-size: 3vw;
    }
    form button {
        width: 30vw;
        height: 5vh;
        font-size: 3vw;
    }
}