body{
    margin: 0;
    padding: 0;
}
.col-md-6{
    padding: 0;

} 
.userinfo-box{
    color:white;
    background: black;
    font-weight: 500;
    width: 18vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    position:absolute;
    left: 80%;
}
.userinfo-box p{
    cursor: pointer;
}

.form-select{
    width: 25vw !important;
    margin-right:6vw ;
}
@media(max-width:768px) and (min-width:576px){
    .form-select{
        width: 40vw !important;
        margin-right:6vw ;
    }
    .userinfo-box{
        width: 28vw;
        height: 20vh;
        left: 70%;
    }
}
@media(min-width:450px) and (max-width:576px){
    .form-select{
        width: 50vw !important;
        margin-right:6vw ;
    }
    .userinfo-box{
        width: 28vw;
        height: 20vh;
        font-size: 2.5vw;
        left: 70%;
    }
}
@media(max-width:450px){
    .form-select{
        width: 60vw !important;
        margin-right:3vw ;
    }
    .userinfo-box{
        width: 30vw;
        height: 15vh;
        font-size: 2.8vw;
        left: 70%;
    }
}